body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    font-family: Ebrima, sans-serif;
    font-size: 2em;
}


button
{
    font-size: inherit;
    font-family: inherit;
    background-color: #ffd997;
}


.counter
{
    font-size: 3em;
    font-family: "Comic Sans MS";
    font-weight: bold;
    text-align: center;
    align-self: center;
}


.exercise
{
    display: none;
    text-align: center;
}


.answer
{
    border: 1px solid black;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
}


.animatedCorrectAnswerBackground
{    
    background-image: linear-gradient(to right, white, #88ff88);
    background-size: 1000% 100%;
    animation: resultBackgroundAnimation 1.5s ease-in-out;
    animation-fill-mode: forwards;
}


.animatedWrongAnswerBackground
{    
    background-image: linear-gradient(to right, white, #ff8888);
    background-size: 1000% 100%;
    animation: resultBackgroundAnimation 1.5s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes resultBackgroundAnimation
{
    0%{background-position: 0% 50%}
    100%{background-position: 100% 50%}
}


#mainContainer
{
    width: 80%;
}


#header
{
    height: 2em;
    display: flex;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #ffbe08;
    border-bottom: 1px solid #ffbe08;
    background-color: #fff2e1;
}


#header > *
{
    align-self: center;
}


#header > p
{
    flex-grow: 1;
}


#header > img
{
    height: 150%;
}


#gameContainer
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "passedCount exercise failedCount"
        ". buttonContainer .";
}


#passedCount
{
    grid-area: passedCount;
    color: green;
    text-shadow: 0.05em 0.05em #9efc81;;
}


#failedCount
{
    grid-area: failedCount;
    color: red;
    text-shadow: 0.05em 0.05em #ff8787;
}


.shakeGrowAnimated
{
    animation: growShakeAnimation 1.5s linear;
}


@keyframes growShakeAnimation
{
    0% { transform: rotate(0) scale(1) }
    8.35% { transform: rotate(10deg) scale(1.167) }
    25% { transform: rotate(-20deg) scale(1.5) }
    41.65% { transform: rotate(30deg) scale(1.833) }
    58.3% { transform: rotate(-22.5deg) scale(1.833) }
    74.95% { transform: rotate(15deg) scale(1.5) }
    91.6% { transform: rotate(-7.5deg) scale(1.167) }
    100% { transform: rotate(0) scale(1) }
}


#loadExerciseSpinner
{
    height: 8em;
    grid-area: exercise;
    text-align: center;
    align-self: center;
}


#loadExerciseSpinner > *
{
    height: 100%;
}


#buttonContainer
{
    grid-area: buttonContainer;
}


#buttonContainer > *
{
    width: 100%;
    margin: 0.1em 0;
}


@font-face
{
    font-family: Ebrima;
    src: url(ebrima.ttf);
}