:root
{
    --lightColor: #fff2e1;
    --separationColor: #ffbe08;
    --strongColor: #ffd997;
    --contrastColor: #367ebd;
    --lightContrastColor: #91ccff;
}

body
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Ebrima, sans-serif;
    font-size: 2em;
}


button
{
    font-size: inherit;
    font-family: inherit;
    background-color: var(--strongColor);
}


.counter
{
    font-size: 3em;
    font-family: "Comic Sans MS";
    font-weight: bold;
    text-align: center;
    align-self: center;
    z-index: -1;
}


.exercise
{
    background-color: white;
    display: none;
    text-align: center;
}


.answer
{
    border: 1px solid black;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
}


.animatedCorrectAnswerBackground
{    
    background-image: linear-gradient(to right, white, #88ff88);
    background-size: 1000% 100%;
    animation: resultBackgroundAnimation 1.5s ease-in-out;
    animation-fill-mode: forwards;
}


.animatedWrongAnswerBackground
{    
    background-image: linear-gradient(to right, white, #ff8888);
    background-size: 1000% 100%;
    animation: resultBackgroundAnimation 1.5s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes resultBackgroundAnimation
{
    0%{background-position: 0% 50%}
    100%{background-position: 100% 50%}
}


.mistakeItem
{
    margin: 0.5em 0;
    list-style-type: none;
    background-color: var(--lightColor);
    border: 1px solid var(--separationColor);
}


.mistakeItem table
{
    font-size: 1em;
}


.wrongAnswer
{
    color: red;
}


.correctAnswer
{
    color: green;
}


.template
{
    display: none;
}


.exerciseParameters
{
    margin: 0;
    font-weight: bold;
}


#mainContainer
{
    width: 80%;
}


#header
{
    height: 2em;
    display: flex;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid var(--separationColor);
    border-bottom: 1px solid var(--separationColor);
    background-color: var(--lightColor);
}


#header > *
{
    align-self: center;
}


#header > p
{
    flex-grow: 1;
}


#header > img
{
    height: 150%;
}


#gameContainer
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "passedCount exercise failedCount"
        ". buttonContainer .";
}


#difficultyContainer
{
    text-align: center;
}


#scoreContainer
{
    text-align: center;
}


#mistakesList
{
    padding-left: 0.5em;
}


#difficultyEmoji
{
    font-size: 3em;
}


#passedCount
{
    grid-area: passedCount;
    color: green;
    text-shadow: 0.05em 0.05em #9efc81;
    transform: translate(100%);
}


#failedCount
{
    grid-area: failedCount;
    color: red;
    text-shadow: 0.05em 0.05em #ff8787;
    transform: translate(-100%);
}


#scoreComposition
{
    display: flex;
}


#scoreComposition > *
{
    flex-grow: 1
}


#scoreNumber
{
    color: #3071a9;
    text-shadow: 0.05em 0.05em var(--lightContrastColor);
}


.shakeGrowAnimated
{
    animation: growShakeAnimation 1.5s linear;
}


@keyframes growShakeAnimation
{
    0% { transform: rotate(0) scale(1) }
    8.35% { transform: rotate(10deg) scale(1.167) }
    25% { transform: rotate(-20deg) scale(1.5) }
    41.65% { transform: rotate(30deg) scale(1.833) }
    58.3% { transform: rotate(-22.5deg) scale(1.833) }
    74.95% { transform: rotate(15deg) scale(1.5) }
    91.6% { transform: rotate(-7.5deg) scale(1.167) }
    100% { transform: rotate(0) scale(1) }
}


.animatedSlideLeftToZero
{    
    animation: slideLeftToZeroAnimation 0.5s ease-out forwards;
}


.animatedSlideRightToZero
{    
    animation: slideRightToZeroAnimation 0.5s ease-out forwards;
}


@keyframes slideLeftToZeroAnimation
{
    90% { transform: translate(10%) }
    100% { transform: translate(0) }
}


@keyframes slideRightToZeroAnimation
{
    90% { transform: translate(-10%) }
    100% { transform: translate(0) }
}


#loadExerciseSpinner
{
    height: 8em;
    grid-area: exercise;
    text-align: center;
    align-self: center;
}


#loadExerciseSpinner > *
{
    height: 100%;
}


#buttonContainer
{
    grid-area: buttonContainer;
}


#buttonContainer > *
{
    width: 100%;
    margin: 0.1em 0;
}


input[type=range]
{
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 50%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
} 
  

input[type=range]::-webkit-slider-thumb
{
    -webkit-appearance: none;
}
  
  
input[type=range]:focus
{
    /*outline: none;*/ /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
  

input[type=range]::-ms-track
{
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}


input[type=range]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 3.5em;
    width: 1.75em;
    border-radius: 0.25em;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px; /* Add cool effects to your sliders! */
}
  

  /* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb
{
    box-shadow: 1px 1px;
    border: 1px solid #000000;
    height: 3.5em;
    width: 1.75em;
    border-radius: 0.25em;
    background: black;
    cursor: pointer;
}

  
/* All the same stuff for IE */
input[type=range]::-ms-thumb
{
    box-shadow: 1px 1px;
    border: 1px solid #000000;
    height: 3.5em;
    width: 1.75em;
    border-radius: 0.25em;
    background: black;
    cursor: pointer;
}


input[type=range]::-webkit-slider-runnable-track
{
    width: 100%;
    height: 1em;
    cursor: pointer;
    box-shadow: 1px 1px;
    background: var(--contrastColor);
    border-radius: 0.2em;
    border: 1px solid #010101;
}
  

input[type=range]:focus::-webkit-slider-runnable-track
{
    background: var(--contrastColor);
}
  

input[type=range]::-moz-range-track
{
    width: 100%;
    height: 1em;
    cursor: pointer;
    box-shadow: 1px 1px;
    background: var(--contrastColor);
    border-radius: 0.2em;
    border: 1px solid #010101;
}

  
input[type=range]::-ms-track
{
    width: 100%;
    height: 1em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}


input[type=range]::-ms-fill-lower
{
    background: var(--contrastColor);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

  
input[type=range]:focus::-ms-fill-lower
{
    background: --var(color2);
}


input[type=range]::-ms-fill-upper
{
    background: var(--contrastColor);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}


input[type=range]:focus::-ms-fill-upper
{
    background: var(--contrastColor);
}


@font-face
{
    font-family: Ebrima;
    src: url(ebrima.ttf);
}